<% if logged_in? %>
  
  <h1><%= current_user.name %>のタスク一覧</h1>
  
  <%= render 'tasks/taskindex', tasks: @tasks %>
  
  <%= link_to '新規タスクの投稿', new_task_path, class: "btn btn-primary" %>
  
<% else %>

  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Tasklist</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>

<% end %>